html{
    background-color: #3c2f2f;
    overflow: hidden;
}

#accordion{
    margin: 0 auto;
    width: 400px;
}

.botones{
    border-bottom: 2px solid #fff4e6;
}

h3{
    background-color: #be9b7b;
    text-align: center;
    color: antiquewhite;
    font-size: 2em; 
    margin: 0;
}

h3:hover{
    background-color: #854442;
    color: #3c2f2f;
    border-top: 2px solid #fff4e6;
}

.default{
    display: none;
    overflow:hidden;
}

.oculto {
    display: none;
    overflow:hidden;
}

.mostrar{
  display: block; 
  color: #3c2f2f;
  background-color: #fff4e6;
  text-align: center;
  padding: 0.5em;
}